$icon-font-path: '../fonts/';

$white: rgb(255, 255, 255);
$blue: rgb(47, 167, 234);
$orange: rgb(244, 127, 87);

$gray-10: rgb(71, 71, 81);
$gray-70: rgb(200, 200, 200);
$gray-90: rgb(245, 245, 245);

$brand-primary: $blue;
$brand-secondary: $orange;
$body-color: $gray-10;
$body-bg: $gray-90;
// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower
@import 'bower_components/bootstrap/scss/bootstrap-grid.scss';

body {
  height: 100%;
  position: absolute;
  width: 100%;
}

.container {
  height: 100%;
}

.display-none {
  display: none;
}

.logo {
  &--big {
    max-width: 80px;
    width: 100%;
  }
}

h1 {
  font-size: 4rem;
}

.input-group {
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px -2px;

  .form-control {
    border: 0;
  }
}

.row {
  height: 100%;
}

textarea {
  border: 1px solid $gray-70;
  border-radius: 3px;
  display: none;
  height: 8rem;
  margin: 1rem 0;
  max-width: 100%;
  padding: 0.5rem 1rem;
  user-select: all;
  width: 100%;
}

.gem {
  animation: slideGem 0.5s ease forwards;
  opacity: 0;
  transform: translateY(40px);
}

.table {
  @for $i from 2 through 5 {
    tr {
      animation: fadeRow 0.5s ease forwards;
      cursor: pointer;
      opacity: 0;
      transition-duration: 0.25s;

      &:nth-child(#{$i}),
      &:nth-child(#{$i}) td {
        animation-delay: ($i + 1.5) * 0.2s;
      }
    }
  }

  tr:first-child {
    animation-delay: 1s;
  }

  td {
    border-top: none;
  }
}

@keyframes slideGem {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRow {
  0% {
    border-top: 1px solid $white;
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    border-top: 1px solid $body-bg;
    opacity: 1;
    transform: translateY(0);
  }
}


// Make an element float up and down.
.anim-hover {
  animation: hover 1s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}


// Add a wavy color gradient to text.
.anim-magical {
  animation: magical 1s ease-in-out infinite;
  animation-direction: alternate;
  background: -webkit-linear-gradient(45deg, $body-color 20%, $brand-secondary 50%, $body-color 80%);
  -webkit-background-clip: text;
  background-size: 200% 200%;
  background-position: 100% 0%;
  color: $body-color;
  -webkit-text-fill-color: transparent;
}

@keyframes magical {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}
